<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zkrasner.skibuddy" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".waitTimeActivity"
            android:label="@string/title_activity_wait_time" >
        </activity>
        <activity
            android:name=".SlopeActivity"
            android:label="@string/title_activity_slope" >
        </activity>
        <activity
            android:name=".SlopeData"
            android:label="@string/title_activity_slope_data" >
        </activity>
        <activity
            android:name=".MountainConditionActivity"
            android:label="@string/title_activity_mountain_condition" >
        </activity>
        <activity
            android:name=".ReportTrailConditions"
            android:label="@string/title_activity_report_trail_conditions" >
        </activity>
    </application>

</manifest>
